body {
  background: #F2F7F2;
}
.App {
  margin: 0 auto;
  padding: 20px;
  max-width: 450px;
  text-align: center;
}
.App p {
  margin: 30px auto;
}
.App .unit {
  color: black;
  font-size: 45px;
  font-weight: 700;
}
.App .count {
  padding-bottom: 15px;
  color: #15A800;
  font-size: 50px;
  font-weight: 800;
  border-bottom: 2px dotted #15A800;
}
.Loading {
  margin: 50px 150px;
}
.Calculator .text {
  color: #1F57C3;
  font-size: 30px;
  font-weight: 700;
}
.Calculator legend {
  margin-bottom: 20px;
  color: grey;
  font-size: 25px;
  font-weight: 900;
}
.Calculator select,
.Calculator input {
  margin-bottom: 25px;
  border: 2px solid #15A800;
  border-radius: 10px;
  background: white;
  color: #1F57C3;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  width: 350px;
  height: 65px;
}

.Calculator input[type="submit"] {
  background: #15A800;
  color: white;
}
.Calculator .hi {
  margin: 10px;
  color: #15A800;
  font-size: 40px;
}
.Calculator .number {
    color: black;
  font-size: 30px;
}