body {
  background: #F2F7F2;
  /* background: ; */
}
.App {
  margin: 0 auto;
  padding: 20px;
  /* color: white; */
  max-width: 450px;
  text-align: center;
}
.App p {
  margin: 30px auto;
}
.App p:first-child {
  color: black;
  font-size: 45px;
  font-weight: 700;
}
.App p:last-child {
  color: #15A800;
  font-size: 50px;
  font-weight: 800;
}
.Calculator legend {
  margin-bottom: 10px;
  color: grey;
  font-size: 30px;
  font-weight: 900;
}
.Calculator select,
.Calculator input {
  margin-bottom: 10px;
  border: 2px solid #15A800;
  background: white;
  color: #15A800;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  width: 350px;
  height: 65px;
}
.Calculator select {
  border-radius: 10px;
}
.Calculator input {
  border-radius: 20px 20px 80px 80px;
}
/* .Calculator p {
  font-size: 30px;
} */
.Calculator .hi {
  color: black;
  font-size: 40px;
}
.Calculator .number {
  font-size: 10px;
}